/*  Student1: Netanel Iluz ID: 205856354
    Student2: Daniel Dabush ID: 316013671 */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-nav{
}

.nav-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #111;
}

.nav-logo {
    float: left;
    width: 20px;
    height: 20px;
    padding: 14px 2px;
    margin-right: 10px;
}

.nav-text {
    float: left;
    color: white;
    margin-left: -12px;
    margin-right: 20px;
    padding: 14px 1px;
    text-decoration: none;
    font-family: "Lucida Handwriting", Cursive;
    font-size: 15px

}